<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="static/css/home.css">
</head>
<body style="background-color: #faf9f6;">
    <div class="nav">
        <div style="height: 60px; width: 300px;display: flex; 
        align-items: center;
        justify-content: center;">
            <img class="img" src="static/css/note_3.png">
        </div>

        <div style="display: flex;
        width: 500px; justify-content: space-between;">
            <p style="font-family: arial;">Home</p>
            <p style="font-family: arial;">About</p>
            <p style="font-family: arial;">Blog</p>
            <p style="font-family: arial;">Contact</p>

        </div>

        <div style="height: 60px;display: flex;align-items: center;
        justify-content: space-between;
        width: 300px;
        ">
            <a href="{{url_for('signup.sign_up')}}"><button class="button">Signup</button></a>
            <a style="margin-right: 30px;" href="{{url_for('login.log_in')}}"><button class="button2">Login</button></a>
        </div>
    </div>

    <div class="content_box">
        <div style="position: relative;bottom: 220px;
        display: flex;
        width: 800px;
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
        justify-content: center;">
            <h1 style="font-size: 66px;
            font-family: arial;
            font-weight: 500;
            line-height: 0.1;">Your second brain</h1>
            <div style="
            display: flex;
            align-items: center;
            justify-content: center;">
                <P style="font-size: 20px;
                font-family: arial;
                width: 700px;
                color: rgb(67, 67, 67);
                ">Remember everything and tackle any project with your notes, tasks, objectives <span style="margin-left: 220px;">and schedule all in one place.</span></P>
            </div>
            <div>
                <a href="{{url_for('signup.sign_up')}}"><button class="free">Get NoteApp free</button></a>
            </div>
        </div>
        <div style="
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        bottom: 0px;
        right: 100px;
        left: 100px;
        top: 400px;">
            <video autoplay muted loop width="780px"  src="static/css/sample_video.mp4"></video>
        </div>
    </div>

    <div class="make">
        <div style="
        width: 900px;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;">
        <h1 style="width: 800px;
        font-size: 46px;
        font-family: arial;">Make the most of your ideas— and <span style="margin-left: 300px;">your time</span></h1>
        <P style="
        font-size: 20px;
        font-family: arial;">Capture all essentials and access them anywhere, anytime.</P>

        </div>
    </div>
    <div class="cards">
        <div style="height: 300px;
        background-color: #fdf4db;
        display: grid;
        border-radius: 20px;
        grid-template-columns: 1fr;">
            <div style="
            display: flex;
            
            flex-direction: row;
            height: 130px;" >
                <div class="div_1" >
                    <img width="140px" src="static/css/pap.png">

                </div>

            </div>
            <div style="
            height: 170px;
            display: flex;
            
            align-items: center;
            justify-content: center;" >
                <div class="div_2">
                    <div style="
                    height: 70px;">
                    <h1 style="font-family: arial;
                    color: rgb(46, 46, 46);
                    font-size: 30px;">Template</h1>

                    </div>
                    <div style="
                    height: 60px;">
                    <p style="font-family: arial;
                    font-size: 18px;
                    width: 250px;
                    position: relative;
                    bottom: 20px;">Get further faster with ready made note structures</p>

                    </div>
                    
                </div>
            </div>
        </div>
        <div style="height: 300px;
        background-color: #fdf4db;
        display: grid;
        border-radius: 20px;
        grid-template-columns: 1fr;">
            <div style="
            display: flex;
            
            flex-direction: row;
            height: 130px;" >
                <div class="div_1" >
                    <img width="200px" src="static/css/book.png">

                </div>

            </div>
            <div style="
            height: 170px;
            display: flex;
            
            align-items: center;
            justify-content: center;" >
                <div class="div_2">
                    <div style="
                    height: 70px;">
                    <h1 style="font-family: arial;
                    color: rgb(46, 46, 46);
                    font-size: 30px;">Notebook & spaces</h1>

                    </div>
                    <div style="
                    height: 60px;">
                    <p style="font-family: arial;
                    font-size: 18px;
                    width: 250px;
                    position: relative;
                    bottom: 20px;">organize ideas where they belong</p>

                    </div>
                    
                </div>
            </div>
        </div>
        <div style="height: 300px;
        background-color: #fdf4db; 
        display: grid;
        border-radius: 20px;
        grid-template-columns: 1fr;">
            <div style="
            display: flex;
            
            flex-direction: row;
            height: 130px;" >
                <div class="div_1" >
                    <img width="150px" src="static/css/search2.png">

                </div>

            </div>
            <div style="
            height: 170px;
            display: flex;
            
            align-items: center;
            justify-content: center;" >
                <div class="div_2">
                    <div style="
                    height: 70px;">
                    <h1 style="font-family: arial;
                    color: rgb(46, 46, 46);
                    font-size: 30px;">Search</h1>

                    </div>
                    <div style="
                    height: 60px;">
                    <p style="font-family: arial;
                    font-size: 18px;
                    width: 250px;
                    position: relative;
                    bottom: 20px;">Find exactly what you are looking for in seconds</p>

                    </div>
                    
                </div>
            </div>
        </div>
    </div>

    <div class="order">
        <div class="order_child">
            <div style="
            height: 500px;
            width: 500px;">
            <img width="550px" src="static/css/side.png">

            </div>
            <div style="
            height: 500px;
            width: 500px;
            display: grid;
            grid-template-columns: 1fr;">
                <div style="height: 250px;" >
                    <h1 style="font-family: arial;
                    font-size: 56px;
                    position: relative;
                    top: 60px;">Bring order to everything you do</h1>
                </div>
                <div style="height: 150px;">
                    <p style="font-family: arial;
                    font-family: arial;
                    font-size: 20px;
                    width: 400px;
                    color: rgb(47, 47, 47);">With NoteApp's simple and flexible structure, it's easier than ever to keep your content organized—plus integrated tasks help you stay on top of all your to-dos.</p>
                </div>
                <div style="height: 100px;
                display: flex;
                align-items: center;
                justify-content: center;">
                    <a href="{{url_for('signup.sign_up')}}"><button class="free">Try it for free</button></a>
                </div>
            </div>
        </div>
    </div>


    <div class="unlock">
        <div class="unlock_child">
            <div style="
            
            height: 500px;
            width: 500px;
            display: flex;
            align-items: center;
            justify-content: center;">

                <img width="550px" src="static/css/goooooo.png">

            </div>
            <div style="
            height: 500px;
            width: 500px;
            display: grid;
            grid-template-columns: 1fr;">
                <div style="height: 250px;" >
                    <h1 style="font-family: arial;
                    font-size: 56px;
                    position: relative;
                    top: 60px;">Unlock seamless collaboration</h1>
                </div>
                <div style="height: 150px;">
                    <p style="font-family: arial;
                    font-family: arial;
                    font-size: 20px;
                    width: 400px;
                    color: rgb(47, 47, 47);">Boost teamwork with real-time editing, leave comments to stay in sync, and assign tasks to keep everything moving</p>
                </div>
                <div style="height: 100px;
                display: flex;
                align-items: center;
                justify-content: center;">
                    <a href="{{url_for('signup.sign_up')}}"><button class="free">Try it for free</button></a>
                </div>
            </div>

        </div>
    </div>


    <div class="save">
        <div class="unlock_child">
            <div style="
            
            height: 500px;
            width: 500px;
            display: flex;
            align-items: center;
            justify-content: left;
            position: relative;
            right: 70px;
            top: 10px;">

                <img width="400px" src="static/css/phone.png">

            </div>
            <div style="
            height: 500px;
            width: 500px;
            display: grid;
            grid-template-columns: 1fr;">
                <div style="height: 250px;" >
                    <h1 style="font-family: arial;
                    font-size: 56px;
                    position: relative;
                    top: 60px;">Save anything, in any form</h1>
                </div>
                <div style="height: 150px;">
                    <p style="font-family: arial;
                    font-family: arial;
                    font-size: 20px;
                    width: 400px;
                    color: rgb(47, 47, 47);">Record, transcribe, scan, clip— no matter how you gather information, NoteApp keeps all your content safe for you.</p>
                </div>
                <div style="height: 100px;
                display: flex;
                align-items: center;
                justify-content: center;">
                    <a href="{{url_for('signup.sign_up')}}"><button class="free">Save your ideas now</button></a>
                </div>
            </div>

        </div>
    </div>


    <div class="foot">
        <div class="foot_child">

        </div>

    </div>
</body>
</html>