<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="static/css/signup.css">
</head>
<body style="background-color: #faf9f6;
display: flex;
align-items: center;
justify-content: center;">
    
    <form method="post" action="{{url_for('signup.sign_up')}}">
        <div class="papa">
            <div class="child_2">
                <img width="500px" src="static/css/note_3.png">
            </div>
            <div class="child">
                
                <input class="input" type="text" name="username" placeholder="Username">
                <input class="input" type="password" name="password" placeholder="Password">
                <input class="accept" type="submit" value="Signup">
                
            </div>
        </div>
    </form>
   
    
</body>
</html>